
@font-face {
    font-family: "young serif";
    src: url(/fonts/young-serif/YoungSerif-Regular.ttf);
}
body {
    font-family: 'outfit';
}
.wrapper {
    background-color: hsl(30, 54%, 90%);
    width: 1440px;
    height: 1500px;
    position: absolute;
}
.wrapper2 {
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    width: 350px;
    height: 1100px;
    /* border-top: 100px; */
    margin-left: 250px;
    margin-top:50px ;
    border-radius: 20px;
    /* padding-left: 300px; */
    /* margin: 100px 10px 10px 10px; */
    
}
.container{
    display: flex;
    flex-direction: column;
    /* border-radius: 20px; */
    border-top: 10px;
    justify-content: space-around;
    background-color: white;
    border-radius: 10px;
    flex-wrap: wrap;
    flex-basis: 100%;
    
}
.item1 > img{
    /* width: 100px;
    height: 200px; */
    /* flex: 1; */
    /* flex-wrap: wrap; */
    padding: 10px;
    object-fit: cover;
    border-radius: 20px;
    max-width: 90%;
    height: auto;
    margin-left: 8px;
}

.item2 >h1{
    padding: 10px;
    font-size: large;
    font-weight: bold;
    margin-left:10px;
    font-size: 20px;
    font-family: 'young serif';
    
}
.item2 >p{
    font-size: 7px;
    padding-left: 20px;
    margin-bottom: 50px;
    font-family: 'outfit';
}
.item3 {
    background-color: bisque;
    max-width: 90%;
    margin-left: 19px;
    border-radius: 7px;
}
.item3 >h3 {
    font-size: 10px;
    margin-left: 15px;
    color: blueviolet;

}
.item3 > ul {
    font-size: 10px;
}
.item4 > h1 {
    color: brown;
    font-size: 20px;
    margin-left: 10px;
    font-family: 'young serif';
    font-weight: lighter;
}
.item4 > ul {
    font-size: 10px;
}
.item4 {
    padding: 10px;
}
.item5 > h1 {
    font-size: 20px;
    margin-left: 15px;
    color: brown;
    font-family: 'young serif';
    font-weight: lighter;
}
.item5 > ol {
    font-size: 9px;
    margin-left: -1px;
    line-height: 15px;
    /* margin-bottom: 50px; */
}
.item5 {
    padding: 20px;
}
.item6 >h1 {
    font-size: 20px;
    color: brown;
    margin-left: 10px;
    font-family: 'young serif';
    font-weight: lighter;
}
.item6 >p{
    font-size: 9px;
}
.nutrition{
    border-collapse: collapse;
    border: none;
    padding-left: 20px;
    /* padding: 40px; */
}
.nutrition tr {
    border-top: 1px solid black;
    padding-left: 20px;
    padding: 90px;
}
.nutrition td {
    padding: 8px;
}
.nutrition tr:first-child {
    border-top: none;
}
.nutrition td:nth-child(1) {
    padding-right: 140px;
    padding-left: 10px;
}
.item6 {
    padding-left: 20px;
}
@media (max-width:375px){
    .container{
        width: 100%;
        margin: auto;
    }
    .wrapper{
        background-color: black;
    }
    body *{
        font-size: 20px;
    }
    .wrapper2 {
        margin-left: 120px;
        border-radius: 0px;
    }
    .item1 > img {
    padding: 0px;
    object-fit: cover;
    border-radius: 0px;
    max-width: 100%;
    height: auto;
    margin-left: 0px;
    }
}